<router-outlet></router-outlet>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div>
<h1 class="text-center mb-4">KANOO IT SUPPORT</h1>
<div class="row mb-4">
  <div class="col-md-6">
    <form [formGroup]="filterForm" class="d-flex align-items-center">
      <input
        id="filterInput"
        type="text"
        (keyup)="applyFilter()"
        [(ngModel)]="searchText"
        matInput
        formControlName="filter"
        class="form-control search-input"  
        placeholder="Search"
      >
      <button class="btn btn-primary custom-btn-add" (click)="openPopup()">Add User</button>
      <button (click)="exportToExcel()" class="btn btn-success text-end export-btn" >Export to Excel</button>
    </form>
  </div>
  <div class="table-container">
    <div class="table">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered">
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">DATE</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Date}}</td>
        </ng-container>
        <ng-container matColumnDef="KITREF_NO">
          <th mat-header-cell *matHeaderCellDef class="text-center">KIT REF NO</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.KITREF_NO}}</td>
        </ng-container>
        <ng-container matColumnDef="Month">
          <th mat-header-cell *matHeaderCellDef class="text-center">MONTH</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Month}}</td>
        </ng-container>
        <ng-container matColumnDef="LENOVO_CLAIM">
          <th mat-header-cell *matHeaderCellDef class="text-center">LENOVO CLAIM</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.LENOVO_CLAIM}}</td>
        </ng-container>
        <ng-container matColumnDef="Customer">
          <th mat-header-cell *matHeaderCellDef class="text-center">CUSTOMER</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Customer}}</td>
        </ng-container>
        <ng-container matColumnDef="Machine_Type">
          <th mat-header-cell *matHeaderCellDef class="text-center">MACHINE TYPE</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Machine_Type}}</td>
        </ng-container>
        <ng-container matColumnDef="Serial_NO">
          <th mat-header-cell *matHeaderCellDef class="text-center">SERIAL NO</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Serial_NO}}</td>
        </ng-container>
        <ng-container matColumnDef="Warranty_Expiry">
          <th mat-header-cell *matHeaderCellDef class="text-center">WARRANTY EXPIRY</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Warranty_Expiry}}</td>
        </ng-container>
        <ng-container matColumnDef="Warranty_Type">
          <th mat-header-cell *matHeaderCellDef class="text-center">WARRANTY TYPE</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Warranty_Type}}</td>
        </ng-container>
        <ng-container matColumnDef="DEF_FRU">
          <th mat-header-cell *matHeaderCellDef class="text-center">DEF FRU</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.DEF_FRU}}</td>
        </ng-container>
        <ng-container matColumnDef="DEF_SERIAL_NO">
          <th mat-header-cell *matHeaderCellDef class="text-center">DEF SERIAL NO</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.DEF_SERIAL_NO}}</td>
        </ng-container>
        <ng-container matColumnDef="REP_FRU">
          <th mat-header-cell *matHeaderCellDef class="text-center">REP FRU</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.REP_FRU}}</td>
        </ng-container>
        <ng-container matColumnDef="REP_SNO">
          <th mat-header-cell *matHeaderCellDef class="text-center">REP S.NO</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.REP_SNO}}</td>
        </ng-container>
        <ng-container matColumnDef="Problem_Reported">
          <th mat-header-cell *matHeaderCellDef class="text-center">PROBLEM REPORTED</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Problem_Reported}}</td>
        </ng-container>
        <ng-container matColumnDef="Action_Taken">
          <th mat-header-cell *matHeaderCellDef class="text-center">ACTION TAKEN</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Action_Taken}}</td>
        </ng-container>
        <ng-container matColumnDef="Recieved_Date">
          <th mat-header-cell *matHeaderCellDef class="text-center">RECEIVED DATE</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Recieved_Date}}</td>
        </ng-container>
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef class="text-center">REMARKS</th>
          <td mat-cell *matCellDef="let item" class="text-center">{{item.Remarks}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">ACTION</th>
          <td mat-cell *matCellDef="let item" class="text-center">
            <button mat-button (click)="onEdit(item)" color="primary">Edit</button>
            <button mat-button (click)="onDelete(item)" color="warn">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10,30,50,100]" aria-label="Select page"
      showFirstLastButtons class="custom-paginator"></mat-paginator>
      <button (click)="logout()" >Logout</button>
  </div>
</div> -->